.MainContent{   
    border-style: solid;
    border-color: #000000;
    width: 90vw;
    height: 60vh;
    margin: auto;
}

@media(width > 700px) {
    .MainContent{   
        border-style: solid;
        border-color: #000000;
        width: 60vw;
        height: 90vh;
        margin: auto;
    } 
}

.textBox{
    width: 54vw;
    height: 15.5vh;
    background-color: rgba(213, 238, 180, 0.678);
    padding: 2vh;
    top: 4vh;
    left: 2vw;
    position: relative;
}


.backButton{
    width: 3vw;
    height: 3vw;
}

.backButtonImage{
    width: 100%;
    height: 100%;
}


.textOverImage {
    width: fit-content;
    height: auto;

}

.bottomContainer {
    width: fit-content;
    height: fit-content;
    position: relative;
}